body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.685),rgba(0, 0, 0, 0.788)), url("./school.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 20px;
}
.link a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 10px;
    margin-right: 30px;;
}

.link a:hover{
    color: rgb(20, 57, 100);
    background-color: white;
}

.logo{
    display: flex;
    justify-content: center ;
}

.school-title h1{
    font-size: 60px;
    color: white;
    font-style: inherit;
    font-display: center;
    font-family: cursive;
    text-align: center;
}

.Contact{
    text-align: center;
}

.Contact h3{
    color: lawngreen;
}

.Contact p{
    color: white;
}
.icons{
    display: flex;
    justify-content: center;
    padding: 20px;

}

.icons img{
    width: 40px;
    padding: 0 10px;
}